*{
  width:100vw;
  margin:auto;
  padding:0px;
  /* border: 2px green solid; */

}
element.style{
  display: block;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    font-family: 'Montserrat', sans-serif;

}
/* this is here momentarily to remove white space on right side of page */
h2, hr, .row{
  width:auto;
}
nav{
  background-color:black;
  height:10vh;
  display:inline-block!important;
  font-size:14px;


}
nav ul{
  margin:1%;
  margin-bottom:5%;
  margin-top:2%;
  width: auto;
}


nav li{
  display:inline;
  margin:3%;
}

nav li a{
  color:white;
}

nav li a:hover{
  color:white;
}

nav li a:visited{
  color:white;
}
.logo{
  font-size:20px;

}
.navitems{
  font-size:14px;
}
header{
  background-color:grey;
  height:70vh;
}

.introduction{
  color:white;


}
.introduction h3{
  color:white;
  width:70%;
  margin-top:15%;
  margin-right:auto;
  margin-left:auto;

}

.introduction span{
  color:pink;
}

.projects{
  width:70vw;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5%;
}
.projects img{
  margi:5%;
}

footer{
  background-color:black;
  color:white;
  text-align:center;
  padding: 3%;
}
footer p{
  display:inline-block;
}
