html, body{
    margin:0;
    padding:0;
    font-family: 'Arsenal', sans-serif;
    overflow-x: hidden;
    width:100vw;


}

nav{
    display:flex;
    flex: 1;
    background-color: white;

}
li{
    display:inline-block;



}
ul{
    margin-top: 1%;
    margin-bottom:2%;
    display:inline-block;
}
li a{
    color:black;
    text-decoration: none;
    margin: 15px;
}

li a:hover, li a:active, li a:visited{
    color:black;
    padding-bottom: 5%;
    border-bottom:3px solid black;
    text-decoration:none;

}
#bodynav{
  font-size: 150%;
    margin-left:30px;
}
#brand{
    font-size: 200%;
    text-transform: uppercase;
    font-weight: bolder;
}
#me_photo{
  width:15%;
  border-radius: 90%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.icon .open{
    position: absolute;
    left:3%;
    top:3%;
    font-size:200%;
    color:black;
}
.icon .close{
  position: absolute;
  right:3%;
  top:3%;
  font-size:200%;
  color:black;

}
.header{
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
    height:90vh;
    margin-bottom:2%;
    background-image:url('https://images.unsplash.com/photo-1499744632587-7798360ba20f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bd12836d31df8749ba296932b6897b9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: top;


}
.header p {
display: block;
position:relative;
top:20%;
left: 11%;
font-size:120%;

}
.header h1{
    font-weight: bolder;
}
.intro{
    border:black 2px solid;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:7%;
    padding-right:7%;


}




footer{
    background:black;
    color:white;
    display:flex;
    justify-content: center;
    height:30vh;

}
footer p{
    padding:3%;
}

nav{
    color:black;
}
.about_me{
    height:40vh;
    width:40%;
    margin-left: auto;
    margin-right:auto;
    text-align: justify;

}
